body{
    display: flex;
    justify-content: center;
    align-items: center;

}
.panel{
    position: relative;
    width: 45em;
    height: 15em;
    background: rgb(251, 251, 251);
    border-radius: 5px;
}
.songName{
    position: absolute;
    top:0em;
    left: 0em;
    width: 35em;
}
.songName h5{
    margin: 1em 1em 0em 1em;
    font-size: 1.5em;
}
.songName h6{
    margin: 1em 1em 0em 1em;
    font-size: 1.1em;
}
.songCover{
    position: absolute;
    top: 0;
    left: 36em;
    width: 18em;
    height: 18em;
    border-radius: 18em;
}
