body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    margin: 2em auto;
    position: relative;
    top:5em;
    width: 100px;
    height: 50px;
    perspective: 300px;
}
h1{
    position: relative;
    top: -4em;
}
.pic{
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
}

img{
    position: absolute;
    width: 100px;
}

img:nth-child(1) {animation: img1 12s linear infinite;  }
img:nth-child(2) {animation: img2 12s linear infinite;  }
img:nth-child(3) {animation: img3 12s linear infinite;  }
img:nth-child(4) {animation: img4 12s linear infinite;  }
img:nth-child(5) {animation: img5 12s linear infinite;  }
img:nth-child(6) {animation: img6 12s linear infinite;  }
img:nth-child(7) {animation: img7 12s linear infinite;  }
img:nth-child(8) {animation: img8 12s linear infinite;  }

@keyframes img1{
    From{transform: rotateY(0deg) translateZ(140.71px);}
    To{transform: rotateY(360deg) translateZ(140.71px);}
}
@keyframes img2{
    From{transform: rotateY( 45deg) translateZ(140.71px);}
    To{transform: rotateY(405deg) translateZ(140.71px);}
}
@keyframes img3{
    From{transform: rotateY(90deg) translateZ(140.71px);}
    To{transform: rotateY(450deg) translateZ(140.71px);}
}
@keyframes img4{
    From{transform: rotateY(135deg) translateZ(140.71px);}
    To{transform: rotateY(495deg) translateZ(140.71px);}
}
@keyframes img5{
    From{transform: rotateY(180deg) translateZ(140.71px);}
    To{transform: rotateY(540deg) translateZ(140.71px);}
}
@keyframes img6{
    From{transform: rotateY(225deg) translateZ(140.71px);}
    To{transform: rotateY(585deg) translateZ(140.71px);}
}
@keyframes img7{
    From{transform: rotateY(270deg) translateZ(140.71px);}
    To{transform: rotateY(630deg) translateZ(140.71px);}
}
@keyframes img8{
    From{transform: rotateY(315deg ) translateZ(140.71px);}
    To{transform: rotateY(675deg) translateZ(140.71px);}
}s
img:target{
    
}